<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.unclevader.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Uncle Vader"
            class="com.unclevader.Perspective"
            id="com.unclevader.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
               id="com.unclevader.views"
               name="Uncle Vader"/>
          <view
                allowMultiple="false"
                category="com.unclevader.views"
                class="com.unclevader.AccountsView"
                icon="icons/vad.png"
                id="com.unclevader.AccountsView"
                name="Accounts"
                restorable="true"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.unclevader.application"
            name="Uncle Vader">
         <property
               name="windowImages"
               value="icons/vad.png,icons/van32.png,icons/van48.png">
         </property>
         <property
               name="appName"
               value="Uncle Vader">
         </property>
         <property
               name="aboutImage"
               value="icons/van48.png">
         </property>
         <property
               name="aboutText"
               value="You are using Uncle Vader.">
         </property>
      </product>
   </extension>  
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.unclevader.Activator"
            label="Uncle Vader">
      </consoleFactory>
   </extension>
   <extension
         point="com.snugglie.exceptionhandler">
         <handler
               class="com.unclevader.SnugglieExceptionHandler"/>
   </extension>
   <extension
         point="com.snugglie.packethandler">
         <handler
               class="com.unclevader.PacketHandler"/>
   </extension>

</plugin>
